@import "tailwindcss";

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: green;
    padding-inline: --spacing(15);
    padding-block: --spacing(3);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-green-700);
      }
    }
  }
}

@keyframes fly-right-to-left {
  0% { transform: translateX(100vw) translateY(20vh) scaleX(3); }
  50% { transform: translateX(30vw) translateY(20vh) scaleX(1); }
  100% { transform: translateX(-80vw) translateY(20vh) scaleX(1); }
}

.dragon-fly {
  position: absolute;
  bottom: 1;
  pointer-events: none; /* Para que no bloquee clics en los botones */
  z-index: 15; /* Entre el fondo y el texto */
  animation: fly-right-to-left 15s linear infinite;
}

body {
  overflow-x: hidden;
}