@import "tailwindcss";

@layer components {
  .btn-primary {
    padding: 15px 60px;
    margin-bottom: 2px;
    border: 1px solid green;
    backdrop-filter: blur(3px); 
    border-radius: 3em;
    background-color: transparent;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-green-700);
      }
    }
  }
}



@keyframes fly-right-to-left {
  0% { transform: translateX(100vw) translateY(20vh) scaleX(3); }
  50% { transform: translateX(30vw) translateY(20vh) scaleX(1); }
  100% { transform: translateX(-80vw) translateY(20vh) scaleX(1); }
}

.dragon-fly {
  position: absolute;
  bottom: 1;
  pointer-events: none; /* Para que no bloquee clics en los botones */
  z-index: 15; /* Entre el fondo y el texto */
  animation: fly-right-to-left 15s linear infinite;
}

body {
  overflow-x: hidden;
}